[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pymongo = "*"
python-dotenv = "*"
uvicorn = "*"
twilio = "*"

[dev-packages]

[requires]
python_version = "3.11"
